.game-container {
  height: 100%;
  padding: 5% 10%;
}

.game-header {
  display: flex;
  table-layout: fixed;
  padding: 5%;
  background: #0d47a1;
  background: linear-gradient(90deg, #052049 0%, #4b88b9 35%, #e3f2fd 100%);
}

.game-header-image {
  display: table-cell;
  vertical-align: top;
}

.game-header-body {
  margin-left: 5%;
}

.game-header-title-info {
  position: relative;
  display: flex;
}

.game-header-title-rating{
  font-size: 18px;
  font-family: cursive;
  color: #59e0c8;
}


