<div fxLayout="row wrap" fxLayoutGap="3% grid" fxLayoutGap.xs="10% grid" fxLayoutAlign="center stretch">
  <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let data of gamesData">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <img mat-card-lg-image [src]=convertToImage(data.game.picture)>
      <mat-card-content>{{data.game.title}}<span class="game-rating" *ngIf="data.rating">{{data.rating}}
        <mat-icon>star</mat-icon></span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
