<div class="new-topic">
  <form [formGroup]="messageFormGroup" (submit)="onSubmit()">
    <mat-form-field>
     <textarea matInput
               class="form-control-text-area"
               placeholder="Заголовок"
               formControlName="title"
               required
               [ngClass]="{
                  'is-invalid': (getTitle?.dirty || getTitle?.touched) && getTitle?.errors,
                  'is-valid': (getTitle?.dirty || getTitle?.touched) && !getTitle?.errors}"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
                class="form-control-text-area"
                placeholder="Сообщение"
                formControlName="text"
                required
                [ngClass]="{
                  'is-invalid': (getText?.dirty || getText?.touched) && getText?.errors,
                  'is-valid': (getText?.dirty || getText?.touched) && !getText?.errors}"></textarea>

    </mat-form-field>
    <button mat-raised-button
            color="accent"
            class="enter-btn successButton"
            type="submit">
      Создать тему
    </button>
  </form>
</div>
