<!--
<div class="new-topic">
  <form [formGroup]="" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput
             type="text"
             class="form-control"
             placeholder="Введите логин..."
             formControlName="username"
             required
             [ngClass]="{
                  'is-invalid': (getUsername?.dirty || getUsername?.touched) && getUsername?.errors,
                  'is-valid': (getUsername?.dirty || getUsername?.touched) && !getUsername?.errors}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="password"
             class="form-control"
             placeholder="Введите пароль..."
             formControlName="password"
             required
             [ngClass]="{
                  'is-invalid': (getPassword?.dirty || getPassword?.touched) && getPassword?.errors,
                  'is-valid': (getPassword?.dirty || getPassword?.touched) && !getPassword?.errors}">
    </mat-form-field>
    <button mat-raised-button
            color="accent"
            class="enter-btn successButton"
            type="submit">
      Войти
    </button>
  </form>
</div>
-->
