@import '~@angular/material/theming';

@include mat-core();


$boardgamefunFront-primary: mat-palette($mat-blue, 700);
$boardgamefunFront-accent: mat-palette($mat-cyan, A200, A100, A400);

$boardgamefunFront-warn: mat-palette($mat-red);

$boardgamefunFront-theme: mat-light-theme(
    $boardgamefunFront-primary,
    $boardgamefunFront-accent,
    $boardgamefunFront-warn,
);

@include angular-material-theme($boardgamefunFront-theme);

